.env
.docker_build/
bin/
#vendor/
wp-server
*.exe
*.exe.old
*.old.go
woto_files/
labs/
*.old.go
*.db

# ignore debug binary file
__debug_bin
__debug_bin.exe

# ignore config files
config.json
connect.sh
*.key
*.pem
